# FORGE_* go into a link to generate a pull request on the c4 branch
# other settings like `upstream` are done via git, see README.md for setup

FORGE_URL=https://github.com

# username that owns the c4 repo
FORGE_USER=somebody
 
FORGE_REPO=someproject

# branch to merge into
FORGE_C4_BRANCH=c4      
